<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>BitmapBytes Settings Widget</title>

	<!-- include sample apps styling -->
	<link href="/_sitescloud/renderer/app/sdk/css/app-styles.css" rel="stylesheet">
	<link href="./css/settings.css" rel="stylesheet">

	<!-- include supporting files -->
	<script type="text/javascript" src="/_sitescloud/renderer/app/apps/js/knockout.min.js"></script>
	<script type="text/javascript" src="/_sitescloud/renderer/app/apps/js/jquery.min.js"></script>

	<!-- include the Sites SDK -->
	<script type="text/javascript" src="/_sitescloud/renderer/app/sdk/js/sites.min.js"></script>
</head>

<body data-bind="visible: true" style="display:none; margin:0px; padding:0px;background:transparent;background-image:none;">
	<!-- ko if: initialized -->
	<div class="scs-component-settings">
		<!-- Asset Name -->
		<div class="scs-panelInput">
			<label class="oj-label-header">Asset Name</label>
			<div class="oj-label">
				<div id="assetTitle" class="asset-field" data-bind="text: assetTitle,  attr:{title: assetTitle}"
					title=""></div>
			</div>
		</div>

		<!-- Asset ID -->
		<div class="scs-panelInput">
			<label class="oj-label-header">Asset ID</label>
			<div class="oj-label">
				<div id="assetID" class="asset-field" data-bind="text: assetID,  attr:{title: assetID}" title=""></div>
			</div>
		</div>

		<!-- Asset ID Selectors -->
		<div class="scs-panelInput">
			<!-- Select -->
			<button data-bind="click: pickAsset" style="margin-right: 2.3%; width: 48%;" class="oj-asset-button">
				<span class="oj-button-text">Select</span>
			</button>

			<!-- Open -->
			<button data-bind="click: openAsset" style="width: 48%;" class="oj-asset-button">
				<span class="oj-button-text">Open</span>
			</button>

			<!-- oj-button oj-default -->
		</div>
		
		<hr>

		<!-- Nav tabset -->
		<nav>
			<ul>
				<li class="active" data-bind="css: { active: (activeTab() === 'templates')}, click: () => {updateTab('templates')}">Templates</li>
				<li data-bind="css: { active: (activeTab() === 'custom')}, click: () => {updateTab('custom')}">Custom</li>
				<li data-bind="css: { active: (activeTab() === 'advanced')}, click: () => {updateTab('advanced')}">Advanced</li>
			</ul>
		</nav>
		<!-- xNav tabset -->

		<!-- Settings -->
		<article id="SA-templates" data-bind="css: { active: activeTab() === 'templates'}">
			<div>
				<!-- Templates-->
				<div class="scs-panelInput">
					<label for="titleColor" class="oj-label-header">Preset Templates</label>
					<select 
						name="Templates" 
						id="presetTpl" 
						class="oj-combobox-input" 
						data-bind="options: presetTpls,
							value: presetTpl,
							valueAllowUnset: false">
					</select>
				</div>
			</div>
		</article>
		<!-- xSettings -->

		<!-- Settings -->
		<article id="SA-custom" data-bind="css: { active: activeTab() === 'custom'}">
			<div>
				<!-- Width -->
				<label id="widthLabel" for="width" class="settings-heading" data-bind="text: 'Image Width'"></label>
				<input id="width" data-bind="value: width" placeholder="example: 200px or 33%" class="settings-text-box" style="margin-bottom: 10px;">
				<!-- Custom Link Text -->
				<label id="linkTextLabel" for="linkText" class="settings-heading" data-bind="text: 'Link Text'"></label>
				<input id="linkText" data-bind="value: linkText" placeholder="example: More..." class="settings-text-box" style="margin-bottom: 10px;">
				<!-- Custom Link URL -->
				<label id="linkURLLabel" for="linkURL" class="settings-heading" data-bind="text: 'Link URL'"></label>
				<textArea id="linkURL" data-bind="value: linkURL" class="settings-text-box"></textArea>
			</div>
		</article>
		<!-- xSettings -->
		
		<!-- Advanced -->
		<article id="SA-advanced" data-bind="css: { active: activeTab() === 'advanced'}">
			Add your advanced props here!
		</article>
		<!-- xAdvanced -->
	</div>
	<!-- /ko -->
	<!-- ko ifnot: initialized -->
	<div data-bind="text: 'waiting for initialization to complete'" class="settings-heading"></div>
	<!-- /ko -->
	<script type="text/javascript">
		
		/**
		* updateHeight
		* auto update settings panel height
		**/
		function updateHeight() {
			console.log('[updateHeight]')
			var body = document.body,
				html = document.documentElement;

			if (SitesSDK.setHeight) {
				SitesSDK.setHeight(Math.max(
					body.scrollHeight,
					body.offsetHeight,
					html.clientHeight,
					html.scrollHeight,
					html.offsetHeight));
			} else {
				/*
				//Doesn't work with settings 
				SitesSDK.setProperty('height', Math.max(
					body.scrollHeight,
					body.offsetHeight,
					html.clientHeight,
					html.scrollHeight,
					html.offsetHeight));*/

				//get height of window and parent iframe
				const updateHeight = `${Math.max(body.offsetHeight)}px`;
				const settingsIframe = window.parent.document.querySelector('iframe.scs-component-settings');

				//update heights
				settingsIframe.height = updateHeight;
				settingsIframe.parentElement.style.maxHeight = updateHeight;
			}
		}

		// set the iFrame height when we've fully rendered
		ko.bindingHandlers.scsCompComponentImpl = {
			init: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
				updateHeight();
			}
		};

		// define the viewModel object
		var SettingsViewModel = function () {
			var self = this;

			//lists
			presetTpls = ['Tpl_A','Tpl_B','Tpl_C'];

			//active tab
			self.activeTab = ko.observable();

			// create the observables for passing data
			self.width = ko.observable();
			self.linkText = ko.observable();
			self.linkURL = ko.observable();
			//tpl selection
			self.presetTpl = ko.observable();
			//asset selection
			self.assetID = ko.observable();
			self.assetTitle = ko.observable();
			//component asset data
			self.componentAssets = ko.observable();

			// create rest of viewModel
			self.initialized = ko.observable(false);
			self.saveData = false;

			// Get custom settings
			SitesSDK.getProperty('customSettingsData', function (data) {
				//active tab
				self.activeTab('templates'); //settings,advanced

				//update observables
				self.width(data.width);
				self.linkText(data.nls && data.nls.linkText);
				self.linkURL(data.linkURL);
				self.presetTpl(data.presetTpl);

				// note that viewModel is initialized and can start saving data
				self.initialized(true);

				//force update of settings height
				updateHeight();

				self.saveData = true;
			});

			// Get custom asset data
			SitesSDK.getProperty('componentAssets', function (data) {
				//console.log('settings.html: getting componentAssets: ', data);
				self.componentAssets(data);

				if (data.length > 0) {
					self.assetID(data[0].contentId)
					self.assetTitle(data[0].title)
				}

				// note that viewModel is initialized and can start saving data
				self.initialized(true);
				self.saveData = true;
			});

			// save whenever any updates occur save custom settings
			self.save = ko.computed(function() {
				var saveconfig = {
					'assetID': self.assetID(),
					'width': isNaN(self.width()) ? self.width() : self.width() + 'px',
					'linkURL': self.linkURL(),
					'nls': {
						linkText: self.linkText()
					},
					'nlpresetTpls': self.presetTpl()
				};

				var saveComponentAssets = self.componentAssets();

				// save data in page
				if (self.saveData) {
					SitesSDK.setProperty('customSettingsData', saveconfig);
					SitesSDK.setProperty('componentAssets', saveComponentAssets);
				}
			}, self);
			
			/**
			 * pickAsset
			 * Launch assetPicker
			 **/
			self.pickAsset = function() {
				console.log('[pickAsset]');

				SitesSDK.openAssetPicker({
					select: 'single',
					header: {
						hide: false,
						create: true,
					},
					filter: {
						tabs: {
							filter: true,
							categories: true,
						},
					},
					filterValue: {
						collectionId: null,
						contentItemTypes: [], //add your types to filter on selection here
					}
				}).then(function (selection) {
					// console.log(selection);
					if (selection.length > 0) {
						self.assetID(selection[0].contentId);
						self.assetTitle(selection[0].title)
						self.componentAssets(selection);
					}

				});
			}

			/**
			 * openAsset
			 * Launch asset in new window/tab
			 **/
			self.openAsset = function() {
				console.log('[openAsset]');

				retval = window.open(`/documents/assets/view/${self.assetID()}`, '_blank').focus();
			}

			/**
			 * updateTab
			 * Toggles display of tab and content panel
			 **/
			 self.updateTab = function(tab) {
				console.log('[updateTab]',tab);

				//activate selected tab
				self.activeTab(tab); 

				//force updae settings frame heigh
				updateHeight();
			}
		};


		// apply the bindings
		ko.applyBindings(new SettingsViewModel());
	</script>
</body>
</html>
